<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('資料一覧',~{::link},~{::script})">
<link rel="stylesheet" th:href="@{/css/document/list.css}" />
</head>
<body>
    <div th:replace="common :: header"></div>

    <div class="contents">
        <div class="container">
            <div class="title text-center mt-5 p-3">資料一覧</div>
            <div class="listArea mx-auto p-5">
                <th:block th:if="${documentList.size() > 0}">
                    <ul>
                        <th:block th:each="document : ${documentList}">
                            <li>
                                <a th:href="@{/document/download(id=${document.documentId})}" th:text="${document.displayName}"></a>
                            </li>
                        </th:block>
                    </ul>
                </th:block>
            </div>
            <div class="my-5">
                <button type="button" class="btn btnBack" th:onclick="location.href='/top'">戻る</button>
            </div>
        </div>
    </div>

    <div th:replace="common :: footer"></div>
</body>
</html>