<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mailnaxx2.mapper.AffiliationsMapper">

    <!-- 全件取得 -->
    <select id="findAll" resultMap="AffiliationMap">
        SELECT
            affiliation_id,
            affiliation_name
        FROM
            affiliations
        WHERE
            deleted_flg = '0'
    </select>

    <!-- IDを基に所属名取得 -->
    <select id="findNameById" resultType="String">
        SELECT
            affiliation_name
        FROM
            affiliations
        WHERE
            deleted_flg = '0'
        AND affiliation_id = #{affiliationId}
    </select>

    <resultMap id="AffiliationMap" type="com.mailnaxx2.entity.Affiliations">
        <result property="affiliationId" column="affiliation_id" />
        <result property="affiliationName" column="affiliation_name" />
        <result property="administratorUserId" column="administrator_user_id" />
        <result property="deletedFlg" column="deleted_flg" />
        <result property="createdBy" column="created_by" />
        <result property="createdAt" column="created_at" />
        <result property="updatedBy" column="updated_by" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>
</mapper>