<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('社員一括登録',~{::link},~{::script})">
<link rel="stylesheet" th:href="@{/css/user/create.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/user-create.js}"></script>
</head>
<body>
    <div th:replace="common :: header"></div>

    <div class="contents">
        <div class="container">
            <div class="title text-center mt-5 p-3">社員一括登録</div>
            <div class="formArea mx-auto mb-5">
                <form method="post" th:action="@{/user/confirm-file}" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <div class="my-4">
                        <button type="submit" class="btn btnMain">内容を確認</button>
                    </div>
                </form>
            </div>
            <div class="my-5">
                <button type="button" class="btn btnBack" th:onclick="location.href='/top'">戻る</button>
            </div>
        </div>
    </div>
    <div th:replace="common :: footer"></div>
</body>
</html>