.container {
    width: 50%;
    padding: 0;
}

.formArea {
    padding: 20px 40px 40px 40px;
    background-color: #F5F5F5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.title {
    font-size: 24px;
    background-color: #00ACC1; /* サブカラー(Cyan600) */
    color: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.spacing {
    letter-spacing: 0.23em;
}

.invalid-feedback {
    display: initial;
}